# Projeto: An√°lise de dados da Northwind![ico-nortwind.jpeg]()

## Introdu√ß√£o

A Northwind Traders √© uma loja fict√≠cia que gerencia pedidos, produtos, clientes, fornecedores e muitos outros aspectos de uma pequena empresa. Hoje a empresa possui cerca de 30 funcion√°rios e um faturamento mensal de 1 milh√£o e meio de reais. Seus clientes e fornecedores est√£o distribu√≠dos em diversos pa√≠ses. Seus principais produtos hoje s√£o alimentos, bebidas e utilidades dom√©sticas.

Apesar de seu sucesso inicial, a Northwind Traders enfrenta desafios significativos devido ao crescimento acelerado. A gest√£o de dados, que antes era realizada de forma manual e sob demanda em planilhas, tornou-se inadequada. Esse m√©todo, eficaz quando a empresa era menor, agora resulta em inconsist√™ncias de dados entre diferentes √°reas, gerando conflitos e inefici√™ncias durante as reuni√µes de tomada de decis√£o.

Para enfrentar esses desafios, a Northwind Traders busca implementar uma abordagem mais robusta de gerenciamento e an√°lise de dados. A empresa visa aprimorar a compreens√£o de seus dados para atingir dois objetivos estrat√©gicos de m√©dio prazo: aumentar o ticket m√©dio e reduzir o churn. Com uma melhor gest√£o dos dados, a Northwind Traders espera tomar decis√µes mais informadas, alinhando suas opera√ß√µes e estrat√©gias de maneira a sustentar e impulsionar seu crescimento cont√≠nuo no mercado global.

**Objetivo:**

Com esse projeto utilizando uma base de dados da empresa  fict√≠cia Nortwind Traders passamos por diversas etapas importante na an√°lise de dados, como o pr√©-processamento, em que os dados s√£o explorados e analisados para garantir que estar√£o em bom estado para a pr√≥xima etapa que seria a visualiza√ß√£o de dados utilizando power bi para fazer conex√µes entre os diferentes datasets e gerar visualiza√ß√µes e com sigo insights para os tomadores de decis√£o.

## Pr√©-Processamento

Bibliotecas que ser√£o utilizadas:

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive

Caminho da fonte de dados do meu drive:

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

* **DATASET: Categories.csv (Categorias de produtos)**

**Atributos**:

1. category_id: Refere-se ao identificador √∫nico para cada categoria de produtos. √â usado para diferenciar e identificar unicamente cada categoria no sistema.

2. category_name: Nome da categoria de produtos. Isso ajuda a descrever de forma geral o tipo de produtos que est√£o agrupados sob essa categoria, como bebidas, condimentos, confeitos, etc.

3. description: Descri√ß√£o detalhada dos produtos que pertencem a cada categoria. Fornece informa√ß√µes espec√≠ficas sobre os tipos de itens inclu√≠dos na categoria, como bebidas suaves, caf√©s, ch√°s, doces, p√£es, etc.

4. picture: Representa√ß√£o da imagem associada a cada categoria. Pode ser um caminho para um arquivo de imagem ou dados de imagem codificados. Isso ajuda na identifica√ß√£o visual e apresenta√ß√£o dos produtos.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/categories.csv'
categories = pd.read_csv(path, sep=';')

In [ ]:
categories.head(10)

,category_id,category_name,description,picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",\x
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",\x
2,3,Confections,"Desserts, candies, and sweet breads",\x
3,4,Dairy Products,Cheeses,\x
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",\x
5,6,Meat/Poultry,Prepared meats,\x
6,7,Produce,Dried fruit and bean curd,\x
7,8,Seafood,Seaweed and fish,\x

In [ ]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    8 non-null      int64
 1   category_name  8 non-null      object
 2   description    8 non-null      object
 3   picture        8 non-null      object
dtypes: int64(1), object(3)
memory usage: 384.0+ bytes

In [ ]:
valores_nulos = categories.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

N√£o h√° valores nulos na tabela.

> Vimos que os dados est√£o limpos e n√£o √© necess√°rio nenhum tipo de pr√©-processamento.

* **DATASET: Customer_customer_demo (Classifica√ß√£o do cliente)**

**Atributos**:

1. customer_id: Refere-se ao identificador √∫nico de cada cliente. √â usado para diferenciar e identificar unicamente cada cliente no sistema.

2. customer_type_id: Refere-se ao identificador √∫nico que classifica o tipo de cliente. Embora os valores estejam ausentes, normalmente seria usado para categorizar clientes com base em crit√©rios como pessoa f√≠sica ou jur√≠dica, tipo de assinatura, n√≠vel de servi√ßo, entre outros.

In [ ]:
path = '/content/drive/MyDrive/northwind/customer_customer_demo.csv'
customer_demo = pd.read_csv(path, sep=';')

In [ ]:
customer_demo.head()

Empty DataFrame
Columns: [customer_id, customer_type_id]
Index: []

> Como vemos os dados est√£o vazios, ent√£o acabei escolhendo n√£o utilizar esse dataset para a an√°lise de dados no power BI mais na frente.

* **DATASET: Customer_demographics (demografia dos clientes)**

**Atributos**:

1. customer_type_id: Refere-se ao identificador √∫nico que classifica o tipo de cliente. √â usado para diferenciar e identificar unicamente cada tipo de cliente no sistema.

2. customer_desc: Descri√ß√£o do tipo de cliente. Geralmente fornece uma explica√ß√£o ou um nome que descreve o tipo de cliente, como "pessoa f√≠sica", "pessoa jur√≠dica", "cliente premium", "cliente regular", entre outros.

In [ ]:
path = '/content/drive/MyDrive/northwind/customer_demographics.csv'  # Ensure the file extension is correct
customer_demographics = pd.read_csv(path, sep=';')

In [ ]:
customer_demographics.head()

Empty DataFrame
Columns: [customer_type_id, customer_desc]
Index: []

> Como vemos os dados est√£o vazios, ent√£o acabei escolhendo n√£o utilizar esse dataset para a an√°lise de dados no power BI mais na frente.

* **DATASET: Customers (Clientes)**

**Atributos**:

1. customer_id: Refere-se ao identificador √∫nico de cada cliente. √â usado para diferenciar e identificar unicamente cada cliente no sistema.

2. company_name: Nome da empresa do cliente. Ajuda a identificar a organiza√ß√£o associada ao cliente.

3. contact_name: Nome da pessoa de contato na empresa do cliente. Facilita a comunica√ß√£o direta com o representante ou respons√°vel.

4. contact_title: T√≠tulo do cargo da pessoa de contato na empresa do cliente. Indica a posi√ß√£o e a responsabilidade da pessoa dentro da empresa.

5. address: Endere√ßo da empresa do cliente. Inclui a localiza√ß√£o f√≠sica onde a empresa est√° situada.

6. city: Cidade onde a empresa do cliente est√° localizada. Faz parte das informa√ß√µes de endere√ßo para ajudar na identifica√ß√£o geogr√°fica.

7. region: Regi√£o ou estado onde a empresa do cliente est√° localizada. Complementa as informa√ß√µes de endere√ßo para uma localiza√ß√£o mais precisa.

8. postal_code: C√≥digo postal da √°rea onde a empresa do cliente est√° localizada. Auxilia na entrega de correspond√™ncias e encomendas.

9. country: Pa√≠s onde a empresa do cliente est√° localizada. Ajuda na identifica√ß√£o internacional da localiza√ß√£o da empresa.

10. phone: N√∫mero de telefone da empresa do cliente. √â usado para comunica√ß√µes telef√¥nicas diretas com a empresa.

11. fax: N√∫mero de fax da empresa do cliente. √â utilizado para enviar e receber documentos via fax.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/customers.csv'
customers = pd.read_csv(path, sep=';')

In [ ]:
customers.head(10)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constituci√≥n 2222,M√©xico D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquer√≠a,Antonio Moreno,Owner,Mataderos 2312,M√©xico D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbk√∂p,Christina Berglund,Order Administrator,Berguvsv√§gen 8,Lule√•,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
5,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,NaN,68306,Germany,0621-08460,0621-08924
6,BLONP,Blondesddsl p√®re et fils,Fr√©d√©rique Citeaux,Marketing Manager,"24, place Kl√©ber",Strasbourg,NaN,67000,France,88.60.15.31,88.60.15.32
7,BOLID,B√≥lido Comidas preparadas,Mart√≠n Sommer,Owner,"C/ Araquil, 67",Madrid,NaN,28023,Spain,(91) 555 22 82,(91) 555 91 99
8,BONAP,Bon app',Laurence Lebihan,Owner,"12, rue des Bouchers",Marseille,NaN,13008,France,91.24.45.40,91.24.45.41
9,BOTTM,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745

In [ ]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    91 non-null     object
 1   company_name   91 non-null     object
 2   contact_name   91 non-null     object
 3   contact_title  91 non-null     object
 4   address        91 non-null     object
 5   city           91 non-null     object
 6   region         31 non-null     object
 7   postal_code    90 non-null     object
 8   country        91 non-null     object
 9   phone          91 non-null     object
 10  fax            69 non-null     object
dtypes: object(11)
memory usage: 7.9+ KB

Verificando valores nulos:

In [ ]:
valores_nulos = customers.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

H√° valores nulos na tabela.

In [ ]:
valores_nulos = customers.isnull().sum()
print(valores_nulos)

customer_id       0
company_name      0
contact_name      0
contact_title     0
address           0
city              0
region           60
postal_code       1
country           0
phone             0
fax              22
dtype: int64

**Tratando valores nulos da coluna "region":**

In [ ]:
cidades_com_nulos = customers[customers['region'].isnull()]['city'].unique().tolist()

print(f"Cidades onde a coluna 'region' possui valores nulos: {cidades_com_nulos}")

Cidades onde a coluna 'region' possui valores nulos: ['Berlin', 'M√©xico D.F.', 'London', 'Lule√•', 'Mannheim', 'Strasbourg', 'Madrid', 'Marseille', 'Buenos Aires', 'Bern', 'Aachen', 'Nantes', 'Graz', 'Lille', 'Br√§cke', 'M√ºnchen', 'Torino', 'Lisboa', 'Barcelona', 'Sevilla', 'Brandenburg', 'Versailles', 'Toulouse', 'Frankfurt a.M.', 'Bergamo', 'Bruxelles', 'Leipzig', 'K√∂ln', 'Paris', 'Salzburg', 'Cunewalde', 'Reggio Emilia', 'Gen√®ve', 'Stavern', 'Kobenhavn', 'Charleroi', 'M√ºnster', '√Örhus', 'Lyon', 'Reims', 'Stuttgart', 'Oulu', 'Helsinki', 'Warszawa']

> Cidades que possuem regi√µes em nulo.

In [ ]:
cidades = [
    'Berlin', 'M√©xico D.F.', 'London', 'Lule√•', 'Mannheim', 'Strasbourg', 'Madrid',
    'Marseille', 'Buenos Aires', 'Bern', 'Aachen', 'Nantes', 'Graz', 'Lille',
    'Br√§cke', 'M√ºnchen', 'Torino', 'Lisboa', 'Barcelona', 'Sevilla', 'Brandenburg',
    'Versailles', 'Toulouse', 'Frankfurt a.M.', 'Bergamo', 'Bruxelles', 'Leipzig',
    'K√∂ln', 'Paris', 'Salzburg', 'Cunewalde', 'Reggio Emilia', 'Gen√®ve', 'Stavern',
    'Kobenhavn', 'Charleroi', 'M√ºnster', '√Örhus', 'Lyon', 'Reims', 'Stuttgart',
    'Oulu', 'Helsinki', 'Warszawa'
]
regioes = [
    'BE', 'DF', 'LDN', 'LU', 'MH', 'ST', 'MD', 'MS', 'BA', 'BR', 'AC', 'NA', 'GR', 'LL',
    'BK', 'MU', 'TO', 'LB', 'BC', 'SV', 'BRB', 'VS', 'TL', 'FF', 'BG', 'BX', 'LP',
    'KO', 'PA', 'SZ', 'CU', 'RE', 'GE', 'ST', 'CO', 'CH', 'MS', 'AR', 'LY', 'RM', 'ST',
    'OU', 'HE', 'WA'
]

In [ ]:
cidade_para_regiao = dict(zip(cidades, regioes))


customers['region'] = customers.apply(lambda row: cidade_para_regiao[row['city']] if pd.isnull(row['region']) else row['region'], axis=1)

> Substituindo os valores nulos da coluna "region" pelos valores da vari√°vel regioes com base na coluna "city".

**Tratando valores nulos da coluna "postal code":**

In [ ]:
postal_com_nulos = customers[customers['postal_code'].isnull()]['city'].unique().tolist()

print(f"Cidades onde a coluna 'region' possui valores nulos: {postal_com_nulos}")

Cidades onde a coluna 'region' possui valores nulos: ['Cork']

In [ ]:
cork_data = customers[customers['city'] == 'Cork']

In [ ]:
cork_data.head()

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
36,HUNGO,Hungry Owl All-Night Grocers,Patricia McKenna,Sales Associate,8 Johnstown Road,Cork,Co. Cork,NaN,Ireland,2967 542,2967 3333

> Cidade que possui "postal code" como nulo.

In [ ]:
customers.loc[(customers['city'] == 'Cork') & (customers['postal_code'].isnull()), 'postal_code'] = 'T12 X672'

> Substituindo postal code nulo por "T12 X672", que √© o verdadeiro valor da cidade , retirado de uma pesquisa na internet.

**Tratando valores nulos da coluna "fax":**

In [ ]:
customers['fax'] = customers['fax'].fillna('desconhecido')

> os valores faltantes da coluna fax foram substituidos pela string "desconhecido".

Verificando valores nulos novamente:

In [ ]:
valores_nulos = customers.isnull().sum()
print(valores_nulos)

customer_id      0
company_name     0
contact_name     0
contact_title    0
address          0
city             0
region           0
postal_code      0
country          0
phone            0
fax              0
dtype: int64

Como vimos os valores est√£o no formato correto para as an√°lises, ent√£o abaixo foi salvo o dataset atualizado em outro arquivo csv.

In [ ]:
customers.to_csv('./customers.csv',sep=',',index=False)

* **DATASET: employee_territories (Territ√≥rio dos empregados)**


**Atributos**:

1. employee_id: Refere-se ao identificador √∫nico de cada empregado. √â usado para diferenciar e identificar unicamente cada empregado no sistema.

2. territory_id: Refere-se ao identificador √∫nico de cada territ√≥rio. √â usado para associar empregados aos territ√≥rios espec√≠ficos que eles gerenciam ou nos quais trabalham.

In [ ]:
path = '/content/drive/MyDrive/northwind/employee_territories.csv'  # Ensure the file extension is correct
employee_territories = pd.read_csv(path, sep=';')

In [ ]:
employee_territories.head(10)

   employee_id  territory_id
0            1          6897
1            1         19713
2            2          1581
3            2          1730
4            2          1833
5            2          2116
6            2          2139
7            2          2184
8            2         40222
9            3         30346

In [ ]:
employee_territories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   employee_id   49 non-null     int64
 1   territory_id  49 non-null     int64
dtypes: int64(2)
memory usage: 912.0 bytes

Verificando valores nulos:

In [ ]:
valores_nulos = employee_territories.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

N√£o h√° valores nulos na tabela.

In [ ]:
valores_nulos = employee_territories.isnull().sum()
print(valores_nulos)

employee_id     0
territory_id    0
dtype: int64

> Vemos que os dados est√£o limpos e n√£o precisam de nenhum pr√©-processamento.

* **DATASET: employees (Empregados)**


**Atributos**:

1. employee_id: Refere-se ao identificador √∫nico de cada empregado. √â usado para diferenciar e identificar unicamente cada empregado no sistema.

2. last_name: Sobrenome do empregado. Facilita a identifica√ß√£o e o registro formal dos empregados.

3. first_name: Nome do empregado. Usado em conjunto com o sobrenome para a identifica√ß√£o completa do empregado.

4. title: Cargo do empregado na empresa. Descreve a fun√ß√£o e a posi√ß√£o hier√°rquica do empregado.

5. title_of_courtesy: T√≠tulo de cortesia do empregado (ex.: Sr., Sra., Dr.). Utilizado para formalidades e endere√ßamentos apropriados.

6. birth_date: Data de nascimento do empregado. Pode ser usado para c√°lculos de idade e para registros de RH.

7. hire_date: Data de contrata√ß√£o do empregado. Importante para determinar a antiguidade e calcular benef√≠cios relacionados ao tempo de servi√ßo.

8. address: Endere√ßo residencial do empregado. Inclui a localiza√ß√£o f√≠sica onde o empregado reside.

9. city: Cidade onde o empregado reside. Parte do endere√ßo para ajudar na identifica√ß√£o geogr√°fica.

10. region: Regi√£o ou estado onde o empregado reside. Complementa as informa√ß√µes de endere√ßo para uma localiza√ß√£o mais precisa.

11. postal_code: C√≥digo postal da √°rea onde o empregado reside. Auxilia na entrega de correspond√™ncias e encomendas.

12. country: Pa√≠s onde o empregado reside. Ajuda na identifica√ß√£o internacional da localiza√ß√£o do empregado.

13. home_phone: N√∫mero de telefone residencial do empregado. Usado para comunica√ß√µes pessoais.

14. extension: Ramal telef√¥nico do empregado na empresa. Facilita a comunica√ß√£o interna dentro da organiza√ß√£o.

15. photo: Representa√ß√£o da imagem do empregado. Pode ser um caminho para um arquivo de imagem ou dados de imagem codificados.

16. notes: Notas adicionais sobre o empregado. Pode incluir informa√ß√µes sobre forma√ß√£o, hist√≥rico profissional, e outras observa√ß√µes relevantes.

17. reports_to: Identificador do superior imediato do empregado. Usado para delinear a estrutura hier√°rquica e de reporte na empresa.

18. photo_path: Caminho para o arquivo de foto do empregado. Indica a localiza√ß√£o do arquivo de imagem no sistema ou na web.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/employees.csv'
employees = pd.read_csv(path, sep=';')

In [ ]:
employees.head(20)

,employee_id,last_name,first_name,title,title_of_courtesy,birth_date,hire_date,address,city,region,postal_code,country,home_phone,extension,photo,notes,reports_to,photo_path
0,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,\x,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,\x,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp
2,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,\x,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
3,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,\x,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp
4,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04,1993-10-17,14 Garrett Hill,London,NaN,SW1 8JR,UK,(71) 555-4848,3453,\x,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp
5,6,Suyama,Michael,Sales Representative,Mr.,1963-07-02,1993-10-17,Coventry House\nMiner Rd.,London,NaN,EC2 7JR,UK,(71) 555-7773,428,\x,Michael is a graduate of Sussex University (MA...,5.0,http://accweb/emmployees/davolio.bmp
6,7,King,Robert,Sales Representative,Mr.,1960-05-29,1994-01-02,Edgeham Hollow\nWinchester Way,London,NaN,RG1 9SP,UK,(71) 555-5598,465,\x,Robert King served in the Peace Corps and trav...,5.0,http://accweb/emmployees/davolio.bmp
7,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,98105,USA,(206) 555-1189,2344,\x,Laura received a BA in psychology from the Uni...,2.0,http://accweb/emmployees/davolio.bmp
8,9,Dodsworth,Anne,Sales Representative,Ms.,1966-01-27,1994-11-15,7 Houndstooth Rd.,London,NaN,WG2 7LT,UK,(71) 555-4444,452,\x,Anne has a BA degree in English from St. Lawre...,5.0,http://accweb/emmployees/davolio.bmp

In [ ]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   employee_id        9 non-null      int64
 1   last_name          9 non-null      object
 2   first_name         9 non-null      object
 3   title              9 non-null      object
 4   title_of_courtesy  9 non-null      object
 5   birth_date         9 non-null      datetime64[ns]
 6   hire_date          9 non-null      datetime64[ns]
 7   address            9 non-null      object
 8   city               9 non-null      object
 9   region             5 non-null      object
 10  postal_code        9 non-null      object
 11  country            9 non-null      object
 12  home_phone         9 non-null      object
 13  extension          9 non-null      int64
 14  photo              9 non-null      object
 15  notes              9 non-null      object
 16  reports_to         8 non-null      float64
 17  photo_path         9 non-null      object
dtypes: datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 1.4+ KB

Verificando valores nulos:

In [ ]:
valores_nulos = employees.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

H√° valores nulos na tabela.

In [ ]:
valores_nulos = employees.isnull().sum()
print(valores_nulos)

employee_id          0
last_name            0
first_name           0
title                0
title_of_courtesy    0
birth_date           0
hire_date            0
address              0
city                 0
region               4
postal_code          0
country              0
home_phone           0
extension            0
photo                0
notes                0
reports_to           1
photo_path           0
dtype: int64

**Tratando valores nulos da coluna "region":**

In [ ]:
cidades_nulos = employees[employees['region'].isnull()]['city'].unique().tolist()

print(f"Cidades onde a coluna 'region' possui valores nulos: {cidades_nulos}")

Cidades onde a coluna 'region' possui valores nulos: ['London']

> Cidade que possui "region" como nulo.

In [ ]:
cidades = [
    'London'
]
regioes = [
    'LDN'
]

In [ ]:
cidade_para_regiao = dict(zip(cidades, regioes))

employees['region'] = employees.apply(lambda row: cidade_para_regiao[row['city']] if pd.isnull(row['region']) else row['region'], axis=1)

> Substituindo as regi√µes nulas pelo valor da vari√°vel regioes com base nas cidades.

In [ ]:
valores_nulos = employees.isnull().sum()
print(valores_nulos)

employee_id          0
last_name            0
first_name           0
title                0
title_of_courtesy    0
birth_date           0
hire_date            0
address              0
city                 0
region               0
postal_code          0
country              0
home_phone           0
extension            0
photo                0
notes                0
reports_to           1
photo_path           0
dtype: int64

**Tratando os valores nulos da coluna "reports_to"**

In [ ]:
reports_to_median = employees.reports_to.median()
employees.fillna(reports_to_median, inplace = True)
employees.reports_to.isnull().sum()

0

> Acima os valores nulos foram substituidos pela mediana da coluna.

In [ ]:
valores_nulos = employees.isnull().sum()
print(valores_nulos)

employee_id          0
last_name            0
first_name           0
title                0
title_of_courtesy    0
birth_date           0
hire_date            0
address              0
city                 0
region               0
postal_code          0
country              0
home_phone           0
extension            0
photo                0
notes                0
reports_to           0
photo_path           0
dtype: int64

> Observamos que agora n√£o temos mais valores nulos, no entando ainda temos que passar pela etapa de converter as colunas para o formato correto, apesar do power bi conseguir identificar as colunas de data facilmente, √© uma boa pr√°tica realizar a convers√£o dos valores de data que est√£o em "object" para "datetime", assim podemos prevenir problemas futuros.

**Convertendo as colunas referente as datas: "birth_date" e "hire_date":**

In [ ]:
employees['birth_date'] = pd.to_datetime(employees['birth_date'])

In [ ]:
employees['hire_date'] = pd.to_datetime(employees['hire_date'])

In [ ]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   employee_id        9 non-null      int64
 1   last_name          9 non-null      object
 2   first_name         9 non-null      object
 3   title              9 non-null      object
 4   title_of_courtesy  9 non-null      object
 5   birth_date         9 non-null      datetime64[ns]
 6   hire_date          9 non-null      datetime64[ns]
 7   address            9 non-null      object
 8   city               9 non-null      object
 9   region             9 non-null      object
 10  postal_code        9 non-null      object
 11  country            9 non-null      object
 12  home_phone         9 non-null      object
 13  extension          9 non-null      int64
 14  photo              9 non-null      object
 15  notes              9 non-null      object
 16  reports_to         9 non-null      float64
 17  photo_path         9 non-null      object
dtypes: datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 1.4+ KB

> Podemos observar que agora todos as colunas est√£o no formato correto.

In [ ]:
employees.head()

,employee_id,last_name,first_name,title,title_of_courtesy,birth_date,hire_date,address,city,region,postal_code,country,home_phone,extension,photo,notes,reports_to,photo_path
0,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,\x,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,\x,Andrew received his BTS commercial in 1974 and...,2.0,http://accweb/emmployees/fuller.bmp
2,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,\x,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
3,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,\x,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp
4,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04,1993-10-17,14 Garrett Hill,London,LDN,SW1 8JR,UK,(71) 555-4848,3453,\x,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp

Salvando o arquivo ap√≥s o processamento:

In [ ]:
employees.to_csv('./employees.csv',sep=',',index=False)

**DATASET: order_details (detalhes dos pedidos)**

**Atributos**:

1. order_id: Refere-se ao identificador √∫nico de cada pedido. √â usado para diferenciar e identificar unicamente cada pedido no sistema.

2. product_id: Refere-se ao identificador √∫nico de cada produto. √â usado para associar produtos espec√≠ficos aos pedidos.

3. unit_price: Pre√ßo unit√°rio do produto no pedido. Indica o custo de uma unidade do produto.

4. quantity: Quantidade de unidades do produto inclu√≠das no pedido. Especifica quantas unidades do produto foram compradas.

5. discount: Desconto aplicado ao produto no pedido. Representado como um valor decimal, indica a porcentagem de desconto aplicada ao pre√ßo unit√°rio do produto.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/order_details.csv'
order_details = pd.read_csv(path, sep=';')

In [ ]:
order_details.head(10)

   order_id  product_id  unit_price  quantity  discount
0     10248          11        14.0        12      0.00
1     10248          42         9.8        10      0.00
2     10248          72        34.8         5      0.00
3     10249          14        18.6         9      0.00
4     10249          51        42.4        40      0.00
5     10250          41         7.7        10      0.00
6     10250          51        42.4        35      0.15
7     10250          65        16.8        15      0.15
8     10251          22        16.8         6      0.05
9     10251          57        15.6        15      0.05

In [ ]:
order_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    2155 non-null   int64
 1   product_id  2155 non-null   int64
 2   unit_price  2155 non-null   float64
 3   quantity    2155 non-null   int64
 4   discount    2155 non-null   float64
dtypes: float64(2), int64(3)
memory usage: 84.3 KB

Verificando valores nulos:

In [ ]:
valores_nulos = order_details.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

N√£o h√° valores nulos na tabela.

> Como vimos os dados n√£o precisam de nenhum pr√©-processamento.

* **DATASET: orders (pedidos)**

**Atributos**:

1. order_id: Refere-se ao identificador √∫nico de cada pedido. √â usado para diferenciar e identificar unicamente cada pedido no sistema.

2. customer_id: Refere-se ao identificador √∫nico do cliente que fez o pedido. Indica qual cliente fez o pedido, permitindo a associa√ß√£o do pedido ao cliente correspondente.

3. employee_id: Refere-se ao identificador √∫nico do funcion√°rio respons√°vel pelo pedido. Indica qual funcion√°rio da empresa processou ou gerenciou o pedido.

4. order_date: Data em que o pedido foi feito. Representa o momento em que o pedido foi registrado no sistema.

5. required_date: Data em que o pedido deve ser entregue. Indica a data limite ou esperada para a entrega do pedido ao cliente.

6. shipped_date: Data em que o pedido foi enviado. Representa o momento em que o pedido deixou o armaz√©m ou local de origem para entrega ao cliente.

7. ship_via: Refere-se ao identificador √∫nico do m√©todo de envio escolhido para o pedido. Indica qual m√©todo de transporte foi utilizado para entregar o pedido ao cliente.

8. freight: Valor do frete associado ao envio do pedido. Representa o custo monet√°rio do transporte do pedido ao cliente.

9. ship_name: Nome do destinat√°rio para envio do pedido. Indica o nome da pessoa ou empresa que receber√° o pedido.

10. ship_address: Endere√ßo de entrega para o pedido. Inclui a localiza√ß√£o f√≠sica onde o pedido deve ser entregue.

11. ship_city: Cidade de entrega para o pedido. Faz parte das informa√ß√µes de endere√ßo para identificar a localiza√ß√£o geogr√°fica da entrega.

12. ship_region: Regi√£o de entrega para o pedido. Complementa as informa√ß√µes de endere√ßo para uma localiza√ß√£o mais precisa, quando aplic√°vel.

13. ship_postal_code: C√≥digo postal da √°rea de entrega para o pedido. Auxilia na entrega de correspond√™ncias e encomendas.

14. ship_country: Pa√≠s de entrega para o pedido. Indica o pa√≠s onde o pedido deve ser entregue ao cliente.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/orders.csv'
orders = pd.read_csv(path, sep=';')

In [ ]:
orders.head()

,order_id,customer_id,employee_id,order_date,required_date,shipped_date,ship_via,freight,ship_name,ship_address,ship_city,ship_region,ship_postal_code,ship_country
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialit√§ten,Luisenstr. 48,M√ºnster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Pa√ßo, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Supr√™mes d√©lices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium

In [ ]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          830 non-null    int64
 1   customer_id       830 non-null    object
 2   employee_id       830 non-null    int64
 3   order_date        830 non-null    object
 4   required_date     830 non-null    object
 5   shipped_date      809 non-null    object
 6   ship_via          830 non-null    int64
 7   freight           830 non-null    float64
 8   ship_name         830 non-null    object
 9   ship_address      830 non-null    object
 10  ship_city         830 non-null    object
 11  ship_region       323 non-null    object
 12  ship_postal_code  811 non-null    object
 13  ship_country      830 non-null    object
dtypes: float64(1), int64(3), object(10)
memory usage: 90.9+ KB

Verificando valores nulos:

In [ ]:
valores_nulos = orders.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

H√° valores nulos na tabela.

In [ ]:
valores_nulos = orders.isnull().sum()
print(valores_nulos)

order_id              0
customer_id           0
employee_id           0
order_date            0
required_date         0
shipped_date         21
ship_via              0
freight               0
ship_name             0
ship_address          0
ship_city             0
ship_region         507
ship_postal_code     19
ship_country          0
dtype: int64

**Tratando valores nulos da coluna 'ship_region':**

In [ ]:
cidades_nulos = orders[orders['ship_region'].isnull()]['ship_city'].unique().tolist()

print(f"Cidades onde a coluna 'region' possui valores nulos: {cidades_nulos}")

Cidades onde a coluna 'region' possui valores nulos: ['Reims', 'M√ºnster', 'Lyon', 'Charleroi', 'Bern', 'Gen√®ve', 'Graz', 'M√©xico D.F.', 'K√∂ln', 'Br√§cke', 'Strasbourg', 'Oulu', 'M√ºnchen', 'Cunewalde', 'Bergamo', 'Leipzig', 'Lule√•', 'Frankfurt a.M.', 'Madrid', 'Reggio Emilia', 'London', 'Stuttgart', 'Sevilla', 'Nantes', 'Brandenburg', 'Lisboa', 'Marseille', 'Kobenhavn', 'Toulouse', 'Salzburg', 'Aachen', 'Barcelona', '√Örhus', 'Warszawa', 'Stavern', 'Lille', 'Buenos Aires', 'Torino', 'Mannheim', 'Bruxelles', 'Helsinki', 'Berlin', 'Paris', 'Versailles']

In [ ]:
cidades =['Reims', 'M√ºnster', 'Lyon', 'Charleroi', 'Bern', 'Gen√®ve', 'Graz', 'M√©xico D.F.', 'K√∂ln', 'Br√§cke', 'Strasbourg', 'Oulu', 'M√ºnchen', 'Cunewalde', 'Bergamo', 'Leipzig', 'Lule√•', 'Frankfurt a.M.', 'Madrid', 'Reggio Emilia', 'London', 'Stuttgart', 'Sevilla', 'Nantes', 'Brandenburg', 'Lisboa', 'Marseille', 'Kobenhavn', 'Toulouse', 'Salzburg', 'Aachen', 'Barcelona', '√Örhus', 'Warszawa', 'Stavern', 'Lille', 'Buenos Aires', 'Torino', 'Mannheim', 'Bruxelles', 'Helsinki', 'Berlin', 'Paris', 'Versailles']

regioes = ['BE', 'NW', 'R', 'WBR', 'S', 'GE', 'ST', 'DF', 'NW', 'Z', 'A', 'KA', 'BY', 'SN', 'LO', 'SAC', 'BD', 'HE', 'M', 'ER', 'LDN', 'BW', 'AN', 'PDL', 'BRB', 'L', 'B', 'H', 'MP', 'S', 'NW', 'CAT', 'MJ', 'MZ', 'TE', 'NPC', 'BA', 'PI', 'BW', 'BRU', 'UUS', 'BB', 'IF', 'IF']

In [ ]:
cidade_para_regiao = dict(zip(cidades, regioes))

orders['ship_region'] = orders.apply(lambda row: cidade_para_regiao[row['ship_city']] if pd.isnull(row['ship_region']) else row['ship_region'], axis=1)

> Sunstituindo os valores nulos da coluna "ship_region" com os valores da vari√°vel regioes com base nas cidades.

**Tratando valores nulos da coluna 'ship postal code':**

In [ ]:
cidades_nulos = orders[orders['ship_postal_code'].isnull()]['ship_city'].unique().tolist()

print(f"Cidades onde a coluna 'region' possui valores nulos: {cidades_nulos}")

Cidades onde a coluna 'region' possui valores nulos: ['Cork']

In [ ]:
orders.loc[(orders['ship_city'] == 'Cork') & (orders['ship_postal_code'].isnull()), 'ship_postal_code'] = 'T12 X672'

> Substituindo os valores nulos da coluna "ship_postal_code" pelo 'T12 X672', encontrado com base no nome da cidade em uma pesquisa na internet.

**Tratando os valores nulos da coluna 'shipped_date'**:

fillna(pd.NaT): Isso substitui todos os valores nulos na coluna shipped_date com pd.NaT, que √© reconhecido pelo pandas como um marcador para valores ausentes em datas.

In [ ]:
orders['shipped_date'] = orders['shipped_date'].fillna(pd.NaT)

In [ ]:
valores_nulos = orders.isnull().sum()
print(valores_nulos)

order_id             0
customer_id          0
employee_id          0
order_date           0
required_date        0
shipped_date        21
ship_via             0
freight              0
ship_name            0
ship_address         0
ship_city            0
ship_region          0
ship_postal_code     0
ship_country         0
dtype: int64

> Acima podemos perceber que todos os valores nulos foram tratados, apesar de "shipped_date" est√° com valor nulo, agora est√° com marca√ß√£o que √© recomendada nesse tipo de caso. E como estamos trabalhando com valores de data, √© necess√°rio fazer a convers√£o das colunas de "Object" para "datetime".

**Convers√£o das colunas de data: 'order_date', 'required_date', 'shipped_date':**

In [ ]:
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [ ]:
orders['required_date'] = pd.to_datetime(orders['required_date'])

In [ ]:
orders['shipped_date'] = pd.to_datetime(orders['shipped_date'], errors='coerce')

In [ ]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          830 non-null    int64
 1   customer_id       830 non-null    object
 2   employee_id       830 non-null    int64
 3   order_date        830 non-null    datetime64[ns]
 4   required_date     830 non-null    datetime64[ns]
 5   shipped_date      809 non-null    datetime64[ns]
 6   ship_via          830 non-null    int64
 7   freight           830 non-null    float64
 8   ship_name         830 non-null    object
 9   ship_address      830 non-null    object
 10  ship_city         830 non-null    object
 11  ship_region       830 non-null    object
 12  ship_postal_code  830 non-null    object
 13  ship_country      830 non-null    object
dtypes: datetime64[ns](3), float64(1), int64(3), object(7)
memory usage: 90.9+ KB

Salvando o arquivo atualizado:

In [ ]:
orders.to_csv('./orders.csv',sep=',',index=False)

* **DATASET: products (produtos)**

**Atributos**:

1. product_id: Refere-se ao identificador √∫nico de cada produto. √â usado para diferenciar e identificar unicamente cada produto no sistema.

2. product_name: Nome do produto. Ajuda na identifica√ß√£o e refer√™ncia do produto.

3. supplier_id: Refere-se ao identificador √∫nico do fornecedor do produto. Indica qual fornecedor fornece o produto.

4. category_id: Refere-se ao identificador √∫nico da categoria do produto. Classifica o produto dentro de uma categoria espec√≠fica.

5. quantity_per_unit: Descri√ß√£o da quantidade do produto por unidade de venda. Especifica como o produto √© embalado ou distribu√≠do.

6. unit_price: Pre√ßo unit√°rio do produto. Indica o custo de uma unidade do produto.

7. units_in_stock: N√∫mero de unidades do produto atualmente em estoque. Ajuda no controle de invent√°rio e gerenciamento de estoque.

8. units_on_order: N√∫mero de unidades do produto que foram encomendadas mas ainda n√£o foram recebidas. Auxilia no planejamento de reposi√ß√£o de estoque.

9. reorder_level: N√≠vel de estoque no qual um novo pedido de reposi√ß√£o deve ser feito. Indica o ponto em que o produto deve ser reordenado para evitar falta de estoque.

10. discontinued: Indica se o produto foi descontinuado. Usado para identificar produtos que n√£o s√£o mais vendidos, onde 1 significa que o produto foi descontinuado e 0 significa que o produto ainda est√° ativo.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/products.csv'
products = pd.read_csv(path, sep=';')

In [ ]:
products.head(20)

,product_id,product_name,supplier_id,category_id,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
0,1,Chai,8,1,10 boxes x 30 bags,18.00,39,0,10,1
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,1
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1
5,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25.00,120,0,25,0
6,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30.00,15,0,10,0
7,8,Northwoods Cranberry Sauce,3,2,12 - 12 oz jars,40.00,6,0,0,0
8,9,Mishi Kobe Niku,4,6,18 - 500 g pkgs.,97.00,29,0,0,1
9,10,Ikura,4,8,12 - 200 ml jars,31.00,31,0,0,0
10,11,Queso Cabrales,5,4,1 kg pkg.,21.00,22,30,30,0
11,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38.00,86,0,0,0
12,13,Konbu,6,8,2 kg box,6.00,24,0,5,0
13,14,Tofu,6,7,40 - 100 g pkgs.,23.25,35,0,0,0
14,15,Genen Shouyu,6,2,24 - 250 ml bottles,13.00,39,0,5,0
15,16,Pavlova,7,3,32 - 500 g boxes,17.45,29,0,10,0
16,17,Alice Mutton,7,6,20 - 1 kg tins,39.00,0,0,0,1
17,18,Carnarvon Tigers,7,8,16 kg pkg.,62.50,42,0,0,0
18,19,Teatime Chocolate Biscuits,8,3,10 boxes x 12 pieces,9.20,25,0,5,0
19,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81.00,40,0,0,0

In [ ]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         77 non-null     int64
 1   product_name       77 non-null     object
 2   supplier_id        77 non-null     int64
 3   category_id        77 non-null     int64
 4   quantity_per_unit  77 non-null     object
 5   unit_price         77 non-null     float64
 6   units_in_stock     77 non-null     int64
 7   units_on_order     77 non-null     int64
 8   reorder_level      77 non-null     int64
 9   discontinued       77 non-null     int64
dtypes: float64(1), int64(7), object(2)
memory usage: 6.1+ KB

Verificando valores nulos:

In [ ]:
valores_nulos = products.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

N√£o h√° valores nulos na tabela.

> Vemos que n√£o h√° valores nulos, ent√£o n√£o precisamos fazer tratamento de valores faltantes, no entanto a coluna "discontinued" possui os valores 1 e 0, representado sim para discontinuado e n√£o para discontinuado, respectivamente, e para valores nesse formato √© uma boa pr√°tica substituir pelo seu devido valor em "string".

**Manipula√ß√£o da coluna 'discontinued':**

In [ ]:
data = products[["discontinued"]].drop_duplicates()
data.head()

   discontinued
0             1
2             0

In [ ]:
products['discontinued'] = products['discontinued'].replace([0, 1], ['No', 'Yes'])
products.head(10)

,product_id,product_name,supplier_id,category_id,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
0,1,Chai,8,1,10 boxes x 30 bags,18.00,39,0,10,Yes
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,Yes
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,No
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,No
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,Yes
5,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25.00,120,0,25,No
6,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30.00,15,0,10,No
7,8,Northwoods Cranberry Sauce,3,2,12 - 12 oz jars,40.00,6,0,0,No
8,9,Mishi Kobe Niku,4,6,18 - 500 g pkgs.,97.00,29,0,0,Yes
9,10,Ikura,4,8,12 - 200 ml jars,31.00,31,0,0,No

> Acima os valores 1 e 0 da coluna 'discontinued' foram substituidos por "Yes" e "No" e abaixo foi salvo o arquivo atualizado.

In [ ]:
products.to_csv('./products.csv',sep=',',index=False)

* **DATASET: Region (Regi√£o)**

**Atributos**:

1. region_id: Refere-se ao identificador √∫nico de cada regi√£o. √â usado para diferenciar e identificar unicamente cada regi√£o no sistema.

2. region_description: Descri√ß√£o da regi√£o. Fornece um nome ou uma breve descri√ß√£o que caracteriza a regi√£o, como Eastern, Western, Northern, ou Southern.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/region.csv'
region = pd.read_csv(path, sep=';')

In [ ]:
region.head(20)

   region_id region_description
0          1            Eastern
1          2            Western
2          3           Northern
3          4           Southern

In [ ]:
region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region_id           4 non-null      int64
 1   region_description  4 non-null      object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

Verificando valores nulos:

In [ ]:
valores_nulos = region.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

N√£o h√° valores nulos na tabela.

> Vemos que n√£o √© necess√°rio tratamento de dados.

* **DATASET: Shippers (Transportadora)**

**Atributos**:

1. shipper_id: Refere-se ao identificador √∫nico de cada transportadora. √â usado para diferenciar e identificar unicamente cada transportadora no sistema.

2. company_name: Nome da empresa de transporte. Ajuda na identifica√ß√£o e refer√™ncia da transportadora.

3. phone: N√∫mero de telefone da transportadora. Fornece um meio de contato direto com a transportadora para consultas, agendamentos ou suporte.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/shippers.csv'
shippers = pd.read_csv(path, sep=';')

In [ ]:
shippers.head(10)

   shipper_id       company_name           phone
0           1     Speedy Express  (503) 555-9831
1           2     United Package  (503) 555-3199
2           3   Federal Shipping  (503) 555-9931
3           4  Alliance Shippers  1-800-222-0451
4           5                UPS  1-800-782-7892
5           6                DHL  1-800-225-5345

In [ ]:
shippers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   shipper_id    6 non-null      int64
 1   company_name  6 non-null      object
 2   phone         6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

Verificando valores nulos:

In [ ]:
valores_nulos = shippers.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

N√£o h√° valores nulos na tabela.

> N√£o √© necess√°rio tratamento de valores nulos.

* **DATASET: suppliers (Fornecedor)**


**Atributos**:

1. supplier_id: Refere-se ao identificador √∫nico de cada fornecedor. √â usado para diferenciar e identificar unicamente cada fornecedor no sistema.

2. company_name: Nome da empresa fornecedora. Ajuda na identifica√ß√£o e refer√™ncia da empresa que fornece os produtos.

3. contact_name: Nome da pessoa de contato na empresa fornecedora. Facilita a comunica√ß√£o direta com o representante ou respons√°vel pelo fornecimento.

4. contact_title: T√≠tulo do cargo da pessoa de contato na empresa fornecedora. Indica a posi√ß√£o e a responsabilidade da pessoa dentro da empresa.

5. address: Endere√ßo da empresa fornecedora. Inclui a localiza√ß√£o f√≠sica onde a empresa est√° situada.

6. city: Cidade onde a empresa fornecedora est√° localizada. Faz parte das informa√ß√µes de endere√ßo para ajudar na identifica√ß√£o geogr√°fica.

7. region: Regi√£o ou estado onde a empresa fornecedora est√° localizada. Complementa as informa√ß√µes de endere√ßo para uma localiza√ß√£o mais precisa.

8. postal_code: C√≥digo postal da √°rea onde a empresa fornecedora est√° localizada. Auxilia na entrega de correspond√™ncias e encomendas.

9. country: Pa√≠s onde a empresa fornecedora est√° localizada. Ajuda na identifica√ß√£o internacional da localiza√ß√£o da empresa.

10. phone: N√∫mero de telefone da empresa fornecedora. √â usado para comunica√ß√µes diretas com a empresa.

11. fax: N√∫mero de fax da empresa fornecedora. √â utilizado para enviar e receber documentos via fax.

12. homepage: Endere√ßo da p√°gina inicial (site) da empresa fornecedora, se dispon√≠vel. Fornece um link para informa√ß√µes adicionais sobre a empresa na internet.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/suppliers.csv'
suppliers = pd.read_csv(path, sep=';')

In [ ]:
suppliers.head(10)

,supplier_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax,homepage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,NaN,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,NaN
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,NaN,100,Japan,(03) 3555-5011,NaN,NaN
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN
5,6,Mayumi's,Mayumi Ohno,Marketing Representative,92 Setsuko Chuo-ku,Osaka,NaN,545,Japan,(06) 431-7877,NaN,Mayumi's (on the World Wide Web)#http://www.mi...
6,7,"Pavlova, Ltd.",Ian Devling,Marketing Manager,74 Rose St. Moonie Ponds,Melbourne,Victoria,3058,Australia,(03) 444-2343,(03) 444-6588,NaN
7,8,"Specialty Biscuits, Ltd.",Peter Wilson,Sales Representative,29 King's Way,Manchester,NaN,M14 GSD,UK,(161) 555-4448,NaN,NaN
8,9,PB Kn√§ckebr√∂d AB,Lars Peterson,Sales Agent,Kaloadagatan 13,G√∂teborg,NaN,S-345 67,Sweden,031-987 65 43,031-987 65 91,NaN
9,10,Refrescos Americanas LTDA,Carlos Diaz,Marketing Manager,Av. das Americanas 12.890,Sao Paulo,NaN,5442,Brazil,(11) 555 4640,NaN,NaN

In [ ]:
suppliers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   supplier_id    29 non-null     int64
 1   company_name   29 non-null     object
 2   contact_name   29 non-null     object
 3   contact_title  29 non-null     object
 4   address        29 non-null     object
 5   city           29 non-null     object
 6   region         9 non-null      object
 7   postal_code    29 non-null     object
 8   country        29 non-null     object
 9   phone          29 non-null     object
 10  fax            13 non-null     object
 11  homepage       5 non-null      object
dtypes: int64(1), object(11)
memory usage: 2.8+ KB

Verificando valores nulos:

In [ ]:
valores_nulos = suppliers.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

H√° valores nulos na tabela.

In [ ]:
valores_nulos = suppliers.isnull().sum()
print(valores_nulos)

supplier_id       0
company_name      0
contact_name      0
contact_title     0
address           0
city              0
region           20
postal_code       0
country           0
phone             0
fax              16
homepage         24
dtype: int64

**Tratando valores nulos da coluna "region":**

In [ ]:
cidades_nulos = suppliers[suppliers['region'].isnull()]['city'].unique().tolist()

print(f"Cidades onde a coluna 'region' possui valores nulos: {cidades_nulos}")

Cidades onde a coluna 'region' possui valores nulos: ['London', 'Tokyo', 'Osaka', 'Manchester', 'G√∂teborg', 'Sao Paulo', 'Berlin', 'Frankfurt', 'Cuxhaven', 'Ravenna', 'Sandvika', 'Stockholm', 'Paris', 'Singapore', 'Lyngby', 'Zaandam', 'Lappeenranta', 'Salerno', 'Montceau', 'Annecy']

In [ ]:
cidades = ['London', 'Tokyo', 'Osaka', 'Manchester', 'G√∂teborg', 'Sao Paulo', 'Berlin', 'Frankfurt', 'Cuxhaven',
           'Ravenna', 'Sandvika', 'Stockholm', 'Paris', 'Singapore', 'Lyngby', 'Zaandam', 'Lappeenranta', 'Salerno',
           'Montceau', 'Annecy']
regioes = ['LDN', 'TKY', 'OSK', 'MAN', 'GOT', 'SP', 'BER', 'FF', 'CUX', 'RVN', 'SND', 'STK', 'PAR', 'SGP', 'LYN',
           'ZND', 'LAP', 'SAL', 'MTC', 'ANC']

cidade_para_regiao = dict(zip(cidades, regioes))

In [ ]:
suppliers['region'] = suppliers.apply(lambda row: cidade_para_regiao.get(row['city'], row['region']), axis=1)

> Substituindo os valores nulos da coluna 'region" pelos valores de regioes com base nas cidades.

**Tratando os valores nulos da coluna 'fax':**

In [ ]:
suppliers['fax'] = suppliers['fax'].fillna('desconhecido')

> Substituindo os valores nulos por 'desconhecido'.

**Tratando os valores nulo da coluna 'homepage':**

In [ ]:
suppliers = suppliers.drop(columns=['homepage'])

> Remo√ß√£o da coluna 'homepage' da tabela.

In [ ]:
valores_nulos = suppliers.isnull().sum()
print(valores_nulos)

supplier_id      0
company_name     0
contact_name     0
contact_title    0
address          0
city             0
region           0
postal_code      0
country          0
phone            0
fax              0
dtype: int64

> Agora podemos observar que n√£o temos valores nulos presente e abaixo foi salvo o arquivo atualizado.

In [ ]:
suppliers.to_csv('./suppliers.csv',sep=',',index=False)

* **DATASET: territories (Territ√≥rio)**

**Atributos**:

1. territory_id: Refere-se ao identificador √∫nico de cada territ√≥rio. √â usado para diferenciar e identificar unicamente cada territ√≥rio no sistema.

2. territory_description: Descri√ß√£o do territ√≥rio. Fornece um nome ou uma breve descri√ß√£o que caracteriza o territ√≥rio, como Westboro, Bedford, Georgetow, Boston, etc.

3. region_id: Refere-se ao identificador √∫nico da regi√£o associada ao territ√≥rio. Indica a qual regi√£o cada territ√≥rio pertence, permitindo a associa√ß√£o de territ√≥rios a suas respectivas regi√µes.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/territories.csv'
territories = pd.read_csv(path, sep=';')

In [ ]:
territories.head(10)

   territory_id territory_description  region_id
0          1581              Westboro          1
1          1730               Bedford          1
2          1833             Georgetow          1
3          2116                Boston          1
4          2139             Cambridge          1
5          2184             Braintree          1
6          2903            Providence          1
7          3049                Hollis          3
8          3801            Portsmouth          3
9          6897                Wilton          1

In [ ]:
territories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   territory_id           53 non-null     int64
 1   territory_description  53 non-null     object
 2   region_id              53 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.4+ KB

Verificando valores nulo:

In [ ]:
valores_nulos = territories.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

N√£o h√° valores nulos na tabela.

> N√£o √© necess√°rio tratamento de dados.

* **DATASET: us_states (Estados)**


**Atributos**:

1. state_id: Refere-se ao identificador √∫nico de cada estado. √â usado para diferenciar e identificar unicamente cada estado no sistema.

2. state_name: Nome completo do estado. Ajuda na identifica√ß√£o e refer√™ncia do estado.

3. state_abbr: Abrevia√ß√£o do estado. √â uma forma mais curta e padronizada de referenciar o estado, como "AL" para Alabama, "AK" para Alaska, "AZ" para Arizona, etc.

4. state_region: Regi√£o geogr√°fica onde o estado est√° localizado. Pode indicar se o estado pertence ao sul, norte, oeste, leste, etc., facilitando a categoriza√ß√£o e an√°lise por regi√£o.

Leitura:

In [ ]:
path = '/content/drive/MyDrive/northwind/us_states.csv'
us_states = pd.read_csv(path, sep=';')

In [ ]:
us_states.head(5)

   state_id  state_name state_abbr state_region
0         1     Alabama         AL        south
1         2      Alaska         AK        north
2         3     Arizona         AZ         west
3         4    Arkansas         AR        south
4         5  California         CA         west

In [ ]:
us_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state_id      51 non-null     int64
 1   state_name    51 non-null     object
 2   state_abbr    51 non-null     object
 3   state_region  51 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

Verificando valores nulo:

In [ ]:
valores_nulos = us_states.isnull().values.any()

if valores_nulos:
    print("H√° valores nulos na tabela.")
else:
    print("N√£o h√° valores nulos na tabela.")

N√£o h√° valores nulos na tabela.

> N√£o √© necess√°rio nenhum pr√©-processamento nos dados.

## Conclus√£o

Neste caderno, abordamos uma etapa fundamental na an√°lise de dados: o pr√©-processamento. Garantimos que os dados est√£o em alta qualidade antes de serem integrados ao Power BI. Este processo n√£o s√≥ assegurou a integridade dos dados, mas tamb√©m nos proporcionou um entendimento mais profundo sobre as informa√ß√µes com as quais estamos trabalhando. Al√©m disso, identificamos poss√≠veis an√°lises e insights que podem ser gerados a partir desses dados, preparando o caminho para decis√µes estrat√©gicas mais informadas e eficazes.